name: Build and Deploy
on:
  push:
    branches: [ main ]
  workflow_dispatch:
  # build and deploy automatically once a month
  schedule:
    - cron: "4 0 1 * *"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

permissions: {}

jobs:
  build:

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v5
      with:
        persist-credentials: false

    - name: Log in to the Container registry
      run: |
        echo "$TOKEN" | docker login ${{ env.REGISTRY }} --username "$USERNAME" --password-stdin
      env:
        TOKEN: ${{ secrets.GITHUB_TOKEN }}
        USERNAME: ${{ github.actor }}

    - name: Build image
      run: |
        docker build --tag ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest .

    - name: Deploy image
      run: |
        docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
